# OS & Editor
*.log
.DS_Store
Thumbs.db

# Environment
.env
# keep .env.example tracked
!.env.example

# Vendor & node
/vendor/
/node_modules/

# Build & caches
/public/build/
/public/hot
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

# IDE
/.idea/
/.vscode/
/.phpunit.cache

# Misc
composer.phar
.phpunit.result.cache
